<body style="
    background: #ff8e8e;
"><h1>Bem-vindo à floricultura Flor do Dia</h1>
<h2>Visualize os nossos lindos arranjos e buquês para presentear quem você ama!!</h2>
<img src="https://www.uniflores.com.br/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/e/u/euro_alstroemerias0.jpg" style="
    width: 425px">
    <img src="https://static.giulianaflores.com.br/images/product/27384gg.jpg" style="width: 425px">
    <img src="https://img.elo7.com.br/product/zoom/2B92287/arranjo-flores-rosas-lirios-rosa-rose-artificiais-decoracao.jpg" style="width: 500px">
<br> <img src="https://static.ricmais.com.br/uploads/2020/05/soon-873316_1280-1-600x600.png" style="width: 50px;">
Envie uma mensagem via <a target="_blank" href="https://api.whatsapp.com/send?phone=5511995850929&text=Ol%C3%A1.%20Tenho%20interesse%20na%20compra%20do%20Uno%201.5R%20-%20Azul%20Itapema"> Whatsapp</a>



</body>
